
import(dplyr)
import(RJDBC)
import(assertthat)
import(lazyeval)

S3method(src_desc,src_calcite)
S3method(tbl,src_calcite)
S3method(src_translate_env,src_calcite)
S3method(db_data_type,CalciteConnection)
S3method(db_has_table,CalciteConnection)
S3method(db_list_tables,CalciteConnection)
S3method(db_query_fields,CalciteConnection)
S3method(copy_to,src_calcite)
S3method(dim,tbl_calcite)
export(lahman_calcite)
export(src_calcite)
export(top_nx)
